@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhLw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Helvetica Custom';
  src: url('/fonts/helvetica-rounded-bold.otf');
}

@font-face {
  font-family: 'Compacta Custom';
  src: url('/fonts/unicode-compacta.ttf');
}

@font-face {
  font-family: 'Dimbo';
  src: url('/fonts/dimbo-regular.ttf');
}

@layer components {
  .tag-fade {
    position: relative;
  }

  .tag-fade:after {
    content  : "";
    position : absolute;
    z-index  : 0;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to left, #28283E, rgba(255,255,255, 0) 20%);
    width    : 100%;
    height   : 100%;
  }

  .text-anaglyph {
    text-shadow: -1px 0 1px rgb(124, 192, 192) , 1px 0 1px rgb(153, 35, 37);
  }
  .text-anaglyph-2 {
    text-shadow: -2px 0 1px rgb(124, 192, 192) , 2px 0 1px rgb(153, 35, 37);
  }
  /* @keyframes fall-forever {
    from {
      mask-position: 0 0;
    }
    to {
      mask-position: 0 219px;
    }
  }
  .ds-ring {
    mask: url(/images/ds-bg-ring-mask.png) luminance center 100%;
    mask-repeat: repeat-y;

    animation-name: fall-forever;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;

    box-shadow: 0 0 30px 40px rgb(235, 184, 118);
  } */

  .ds-ring-gradient {
    background: rgb(147,94,86);
    background: radial-gradient(circle, rgba(147,94,86,1) 47%, rgba(253,247,229,1) 50%, rgba(250,227,144,1) 51%, rgba(244,197,153,1) 52%, rgba(246,167,124,1) 53%, rgba(237,116,98,1) 55%, rgba(237,116,98,0.5) 72%, rgba(237,116,98,0) 100%); 
  }

  .ds-line-gradient {
    background: rgb(239,150,128);
    background: linear-gradient(90deg, rgba(239,150,128,0) 0%,rgba(239,150,128,1) 41%, rgba(244,197,153,1) 47%, rgba(250,227,144,1) 49%, rgba(253,247,229,1) 50%, rgba(250,227,144,1) 51%, rgba(244,197,153,1) 53%, rgba(239,150,128,1) 59%, rgba(239,150,128,0) 100%); 
  }

  .ds-background-aio {
    background: linear-gradient(to top, rgba(200, 170, 135, 0.35) 0%, rgb(88, 64, 71, 0.35) 1280px ), url(/images/bg-clouds-top.png), rgb(88,64,71);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100%, 100%;
    background-blend-mode: color-dodge, normal, normal;
    background-position: bottom, top, top;
    background-attachment: local, fixed, local;
  }
  .ring-clouds-mask {
    mask-image: url(/images/bg-ring-cloud-mask-alpha.png);
    /* mask-mode: luminance; */
    mask-repeat: no-repeat;
    mask-position: top;
    mask-size: contain;

    mix-blend-mode: color-dodge;
  }

  .loading-shimmer {
    @apply relative overflow-hidden before:absolute before:w-full before:h-full before:bg-gradient-to-r before:from-transparent before:via-slate-500 before:to-transparent before:animate-[shimmer_2s_infinite] before:-translate-x-full;
  }
}